{% if is_paginated %}
<ol class="page-navigator">
    {% if page_obj.has_previous %}
    <li class="previous">
        <a href="{% url 'blog:index' %}page/{{ page_obj.previous_page_number }}" title="第{{ page_obj.previous_page_number }}页"><span aria-hidden="true">←</span> 第{{ page_obj.previous_page_number }}页</a>
    </li>
    {% endif %}
    {% if page_obj.has_next %}
    <li class="next">
        <a href="{% url 'blog:index' %}page/{{ page_obj.next_page_number }}" title="查看往期">查看往期</a>
    </li>
    {% endif %}
</ol>
{% endif %}